@tailwind base;
@tailwind components;
@tailwind utilities;
body {
  margin: 0; /* Remove default body margin */
}

.dark {
  background-color: #27272a; /* Replace with your desired color */
}
.light {
  background-color: #e7e7ec; /* Replace with your desired color */
}
